.footer {
  border-top: 1px solid #d6d5da;
  padding-left: 2rem;

  height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer h1 {
  font-size: 1.2rem;
  font-weight: 200;

  text-transform: uppercase;
}
